.new-incident-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin:  0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    

 
   
}

.new-incident-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgb(0, 0,0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
  
    


}
.new-incident-container .content section{
    width: 100%;
    max-width: 380px;
}

.new-incident-container .content section h1{
    width: 64px 0 32px;
    font-size: 32px;
  
}

.new-incident-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-incident-container .content form{
    width: 100%;
    max-width: 450;
    
}
.new-incident-container .content form input{
    margin-top: 8px;
}

.new-incident-container .content form textarea{
    margin-top: 8px;
}


.upload-btn-wrapper {
    margin-top: 8px;
   
   
    
   margin:o auto;
     
    position: relative;
    overflow: hidden;
    display: flex;
  }
  
  .btn {
    width: 100%;
    height: 60px;
   
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
     
    opacity: 0;
  }

  .new-incident-container .content  label{
    width: 100%;
    height: 60px;
   align-items: center;
    color: gray;
    
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }