.resgister-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin:  0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    

 
   
}

.resgister-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgb(0, 0,0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content:  space-between;
    align-items: center;
  
    


}
.resgister-container .content section{
    width: 100%;
    max-width: 380px;
}

.resgister-container .content section h1{
    width: 64px 0 32px;
    font-size: 32px;
  
}

.resgister-container .content section p{
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.resgister-container .content form{
    width: 100%;
    max-width: 450;
    
}
.resgister-container .content form input{
    margin-top: 8px;
}
.resgister-container .content form .input-group{
    display:flex;
}

.resgister-container .content form .input-group input + input{
    margin-left: 8px;
}